@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
*{
    padding:0;
    margin: 0;
    font-family: "Playwrite AU TAS", cursive;
    font-optical-sizing: auto;

}

body{
    background-color:#b6f1af ;
}
.main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.heading h1{
    color:rgb(6, 19, 11);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top:2rem;
    margin:1rem;
}
.search-bar{
    margin:1rem 0;
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding:0.3rem 1rem;

}
.container{
    width:80%;
    margin:25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap:2rem;

}
.card{
    width: 180px;
    border-radius:1rem ;
    background-color: #194422;
    padding:5px;
}
img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;

}
.card h3{
   color:white;
   font-size: 18px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.indexContainer{
    display: flex;
    margin:2.5rem 0;

}
.numBox{
   width:50px;
   height: 40px;
   background-color: #194422; 
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   margin:0 5px ;

}
.content img{
    width:100%;
    height:600px;
}
.content .inner-content{
    position:absolute;
    top:35%;
    left:40%;
    transform: translate(-50% -50%);
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 5px 5px black;
  
}

.recipe-details {
    width:70% ;
    margin:2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ingredients,.instructions{
    flex-basis: 50%;
    text-align: justify;
    
}


.ingredients h4{
   margin-top:1.5rem;
   font-weight: bold;
}

iframe{
    height: 515px;
    width: 80%;
    margin-top: 1.2rem;
    align-items: center;
    

}
.video{
    width: 100%;
    margin: 1.2rem 10rem ;
  
    
}